
<div class="hero-section align-{{ section.settings.alignment }}">
  <div class="image-container">
    {% assign img_url = section.settings.image | img_url: 'master' %}
    <img src="{{ img_url }}" class="hero-section__image desktop" loading="lazy">
    {% if section.settings.mobile_image != blank %}
      {% assign img_url = section.settings.mobile_image | img_url: 'master' %}
    {% else %}
      {% assign img_url = section.settings.image | img_url: 'master' %}
    {% endif %}
    <img src="{{ img_url }}" class="hero-section__image mobile" loading="lazy">
  </div>
  <div class="text-container">
    {% if section.settings.title != blank %}
      <h3 class="hero-title">{{ section.settings.title }}</h3>
    {% endif %}
    {% if section.settings.copy != blank %}
      <p class="hero-copy">{{ section.settings.copy }}</p>
    {% endif %}
    {% if section.settings.cta_text != blank %}
      <a href="{{ section.settings.cta_url }}" class="button hero-cta">{{ section.settings.cta_text }}</a>
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "mobile_image",
        "label": "Mobile Image"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Color Picker"
      },
      {
        "type": "select",
        "id": "alignment",
        "label": "Text Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          },
          {
            "value": "center",
            "label": "Center"
          }
        ],
        "default": "left"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "copy",
        "label": "Copy"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "CTA URL"
      }
    ],
    "presets": [
      {
        "name": "Hero",
        "category": "Image"
      }
    ]
  }
{% endschema %}
